.button {
  display: inline-flex;
  font-family: $montserrat;
  color: $color-default-white;
  justify-content: center;
  background-color: $color-navy-blue;
  border: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:hover,
  &:focus {
    background-color: $color-default-white;
    box-shadow: 0 0 0 1px $color-resolution-blue;
    color: $color-resolution-blue;
    outline: none;
  }

  &:active {
    background-color: $color-resolution-blue;
    color: $color-default-white;
    box-shadow: none;
  }

  &:disabled {
    background: rgba(2, 102, 193, 0.1);
    color: $color-default-white;
    pointer-events: none;
  }


  @include hover-focus {
    opacity: 0.8;
  }
}
