.faq {
  position: relative;
  width: 100%;
  padding: 0 calc(50% - 489px);
  padding-top: 21.6%;
  padding-bottom: 21.3%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: $color-elephant;

  @include tablet-width {
    padding: 0 calc(50% - 148px);
    padding-top: 25.3%;
    padding-bottom: 23.8%;
  }


  @include mobile-width {
    padding: 0 15px;
    padding-top: 56.56%;
    padding-bottom: 54.68%;
  }

  h2 {
    color: $color-default-white;
    font-size: 35px;
    font-weight: 800;
    line-height: 35px;
    padding-bottom: 17px;
    margin-left: -1.5%;

    @include tablet-width {
      font-size: 25px;
      font-weight: 800;
      line-height: 25px;
      padding-bottom: 17px;
    }

    @include mobile-width {
      font-size: 22px;
      font-weight: 800;
      line-height: 22px;
      padding-bottom: 14px;
    }
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 40px;
    color: $color-default-white;
    margin-left: -1.5%;
    z-index: 2;

    @include tablet-width {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      padding-bottom: 30px;
    }

    @include mobile-width {
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      padding-bottom: 26px;
      margin-left: 5px;
    }
  }

  form {
    width: 100%;
    display: grid;
    grid-template-columns: 340px 340px 238px;
    gap: 30px;
    z-index: 2;

    @include tablet-width {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 7px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }

  &__input {
    display: flex;
    width: 100%;

    @include tablet-width {
      width: 90%;
    }

    @include mobile-width {
      width: 100%;
    }
  }

  &__input label {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__input label input {
    flex-grow: 1;
    width: 100%;
    padding: 22px 30px;
    line-height: 100%;
    border: 1px solid rgba(2, 102, 193, 0.1);
    outline: 0;

    &::placeholder {
      color: rgba($color-default-black, 0.5);
    }

    @include tablet-width {
      font-size: 14px;
      padding: 15px;
    }
  }

  &__input input {
    &:hover {
      outline: 1px solid $color-navy-blue;

      &::placeholder {
        color: $color-navy-blue;
      }
    }

    &:focus,
    &:active {
      outline: 1px solid $color-resolution-blue;
    }

    &:disabled {
      outline: 1px solid rgba(2, 102, 193, 0.1);
    }

    &:focus::placeholder,
    &:active::placeholder {
      color: $color-default-white;
    }
  }

  &__input.is-invalid input {
    border: 1.5px solid #ff121f;

    &:hover,
    &:focus {
      outline: 1px solid #ff121f;
    }
  }

  &__button {
    display: block;
    width: 100%;
    padding: 22px 30px;

    @include tablet-width {
      margin-top: 8px;
      width: 90%;
    }

    @include mobile-width {
      width: 100%;
      margin-top: 1px;
      padding: 18px 30px;
    }

    &:focus {
      outline: none;
    }

    &:hover,
    &:focus-visible {
      background-color: $color-default-white;
      outline: 1px solid $color-resolution-blue;
      color: $color-resolution-blue;
    }

    &:active {
      background-color: $color-resolution-blue;
      color: $color-default-white;
    }
  }
}
