.footer {
  border-top: 1px solid rgba(45, 56, 63, 0.2);

  &__wrapper {
    display: grid;
    grid-template-columns: 205px auto 141px;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 10px;

    @include tablet-width {
      padding-top: 45px;
      padding-bottom: 36px;
      grid-template-columns: 120px auto;
    }

    @include mobile-width {
      padding-top: 30px;
      padding-bottom: 0;
      display: block;
    }
  }

  &__logo img {
    @include mobile-width {
      padding-bottom: 10px;
      margin-left: 5px;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    font-weight: 400;
    gap: 22px;
    margin: 0 64px 0 0;
    max-width: 600px;

    @media (min-width: 1200px) and (max-width: 1439px) {
      margin: 0;
    }

    @include tablet-width {
      min-width: 400px;
      font-size: 14px;
      line-height: 14px;
      margin: 0;
      column-gap: 10px;
      margin-right: 3px;
    }

    @include mobile-width {
      min-width: 280px;
      display: block;
      column-count: 2;
      column-gap: 20px;
      padding-bottom: 26px;
    }
  }


  &__link {
    color: $color-elephant;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    position: relative;
    padding: 5px;

    @include tablet-width {
      font-size: 14px;
      line-height: 14px;
    }

    &:hover {
      &::before {
        content: "";
        height: 1px;
        background-color: $color-default-black;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -3px;
      }
    }

    &:focus {
      outline: 1px solid $color-default-black;
      outline-offset: 3px;
    }

    &:active {
      outline: none;

      &::before {
        display: none;
      }
    }

    &:disabled {
      color: rgba($color-default-black, 0.5);
    }
  }

  &__item {
    padding: 20px 0;

    @include tablet-width {
      padding: 6px 0;
    }

    @include mobile-width {
      padding: 10px 10px 5px 0;
    }
  }


  &__phone {
    min-width: 145px;
    grid-column: 3;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 23px 0 0;

    @include tablet-width {
      display: none;
    }
  }

  &__tel {
    color: $color-elephant;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;

    &:hover,
    &:focus {
      outline: none;
      color: $color-resolution-blue;
    }

    &:active {
      color: $color-navy-blue;
    }

    &:disabled {
      color: rgba(255, 255, 255, 0.1);
    }

    @include tablet-width {
      font-size: 16px;
      line-height: 16px;
    }
  }

  &__description {
    font-size: 12px;
    line-height: 12px;
    color: $color-elephant;
    font-weight: 300;
    padding-bottom: 30px;
  }

  &__logo {
    min-width: 205px;
    margin-right: 10px;

    @include tablet-width {
      min-width: 120px;
      margin-right: 10px;
    }

    @include tablet-width {
      margin-right: 0;
    }

    &:focus,
    &:focus-visible {
      outline: none;
    }
  }
}
