.gallery {
  padding-top: 122px;

  @include tablet-width {
    padding-top: 11px;
  }

  @include mobile-width {
    padding-top: 0;
  }


  h2 {
    padding: 0 calc(50% - 600px);
    padding-bottom: 26px;

    @media (max-width: 1279px) {
      padding-left: 40px;
    }

    @include tablet-width {
      padding-left: 45px;
    }

    @include mobile-width {
      padding-left: 15px;
      padding-bottom: 15px;
    }

    &::after {
      content: "Фотогалерея";
      font-size: 55px;
      color: rgba(45, 56, 63, 0.03);
      margin-left: -252px;

      @include tablet-width {
        font-size: 40px;
        margin-left: -181px;
      }

      @include mobile-width {
        font-size: 26px;
        font-weight: 800;
        line-height: 26px;
        margin-left: -160px;
      }
    }
  }

  &__slider {
    p {
      padding: 0 calc(50% - 600px);
      width: 68%;
      padding-bottom: 45px;
      color: $color-elephant;

      @media (max-width: 1279px) {
        padding-left: 40px;
      }

      @include tablet-width {
        padding-left: 45px;
        padding-bottom: 36px;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        width: 56%;
      }

      @include mobile-width {
        width: 100%;
        padding-left: 15px;
        padding-bottom: 64px;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
      }
    }
  }

  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: auto;
  }


  &__img {
    width: 100%;
    height: 100%;


    &--second {
      display: grid;
      grid-template-columns: 1fr;
      gap: 5px;

      & picture:first-child img {
        aspect-ratio: 298 / 179;
      }

      & picture:nth-child(2) img {
        aspect-ratio: 298 / 265;
      }

      @include tablet-width {
        gap: 3px;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__button {
    top: 26px;

    @include tablet-width {
      top: 33px;
    }

    @include mobile-width {
      top: 108px;
    }

    &--prev {
      right: 160px;

      @include tablet-width {
        right: 86px;
      }

      @include mobile-width {
        right: 55px;
      }
    }

    &--next {
      right: 120px;

      @include tablet-width {
        right: 45px;
      }

      @include mobile-width {
        right: 15px;
      }
    }
  }
}
