.hero {
  background-color: $color-navy-blue;

  &__text {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    @media (min-width: 1200px) and (max-width: 1439px) {
      padding-left: 120px;
    }

    @include tablet-width {
      align-items: center;
    }

    h2 {
      margin: 0;
      font-weight: 800;
      font-size: 77px;
      line-height: 77px;
      color: $color-default-white;
      padding-bottom: 25px;
      z-index: 3;

      @include tablet-width {
        font-size: 56px;
        line-height: 56px;
        text-align: center;
        padding-bottom: 15px;
      }

      @include mobile-width {
        font-size: 30px;
        line-height: 30px;
        padding-bottom: 12px;
      }
    }
  }

  &__text-wrapper {
    max-width: 39%;
    z-index: 2;

    @include tablet-width {
      max-width: 68%;
    }

    @include mobile-width {
      max-width: 98%;
    }

    p {
      @include tablet-width {
        text-align: center;
      }
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $color-san-marino;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 180px;
    padding-bottom: 80px;
    height: auto;

    @include tablet-width {
      padding: 22.66% 45px 28.4%;
      align-items: center;
    }

    @include mobile-width {
      padding: 140px 15px 125px 15px;
    }

    p {
      font-size: 17px;
      line-height: 24px;
      font-weight: 400;
      color: $color-default-white;
      padding-bottom: 35px;

      @include tablet-width {
        padding-bottom: 25px;
      }

      @include mobile-width {
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        padding-bottom: 22px;
      }
    }
  }

  &__wrapper {
    @include tablet-width {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
    }
  }

  &__desc {
    display: flex;
    z-index: 1;
    width: 100%;
    max-width: 1200px;
    margin: 83px auto 0 auto;

    @media (min-width: 1200px) and (max-width: 1439px) {
      padding-left: 120px;
    }

    @include tablet-width {
      display: none;
    }

    svg {
      margin-right: 4px;
    }

    span {
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      color: $color-default-white;
      padding: 13px 21px;
      border: 1px solid rgba(255, 255, 255, 0.5);
      margin-right: 13px;
    }
  }

  &__toggle {
    width: 18.3%;
    padding: 22px;
    z-index: 2;

    @include tablet-width {
      width: 30%;
      padding: 22px;
    }

    @include mobile-width {
      width: 62%;
      padding: 18px;
    }

    &:hover,
    &:focus {
      outline: 1px solid $color-elephant;
      background-color: $color-default-white;
      color: $color-elephant;
    }

    &:active {
      outline: none;
      background-color: $color-resolution-blue;
      color: $color-default-white;
    }

    &:disabled {
      outline: none;
      background-color: $color-resolution-blue;
      color: rgba(2, 102, 193, 0.1);
    }
  }

  &__photo {
    position: absolute;
    left: auto;
    top: 30%;
    height: auto;
    z-index: 1;
    right: calc(50% - 600px);

    @media (min-width: 1200px) and (max-width: 1439px) {
      right: 100px;
    }

    @include tablet-width {
      position: relative;
      width: 442px;
      height: 300px;
      margin-left: 35%;
      top: 0%;
      right: 120px;
    }

    @include mobile-width {
      display: none;
    }
  }

  &__photo-cards {
    position: relative;
    top: -38px;

    @include tablet-width {
      top: 32px;
    }
  }

  &__background {
    display: flex;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      inset: 0;
      z-index: 1;
      background: linear-gradient(112deg, rgba(15, 20, 41, 0.33) 17.23%, rgba(15, 20, 41, 0) 94.93%);
    }

    img {
      width: 100%;
      object-fit: fill;
    }
  }

  &__description--kavkaz .hero__toggle {
    margin-bottom: 67px;

    @include tablet-width {
      margin-bottom: 48px;
    }
  }

  &__description .hero__wrapper {
    display: none;
  }

  &__description.swiper-slide-active .hero__wrapper {
    display: block;
  }
}
