.main-nav {
  @include tablet-width {
    &--is-active {
      & .main-nav__logo svg,
      & .main-nav__phone {
        color: $color-elephant;

        &:hover,
        &:focus {
          outline: none;
          color: $color-resolution-blue;
        }

        &:active {
          color: $color-navy-blue;
        }

        &:disabled {
          color: rgba(255, 255, 255, 0.1);
        }
      }

      & .main-nav__top {
        position: fixed;
        background-color: $color-default-white;
        z-index: 10;
      }
    }
  }

  &__logo svg {
    color: $color-default-white;

    @include tablet-width {
      width: 144px;
      height: 44px;
    }

    @include mobile-width {
      width: 112px;
      height: 34px;
    }
  }

  &__container {
    width: 100%;
    display: grid;
    -ms-grid-columns: 205px 1fr 164px;
    grid-template-columns: 205px 1fr 164px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    @include tablet-width {
      grid-template-columns: 1fr 164px;
    }

    @include mobile-width {
      grid-template-columns: 1fr;
    }
  }

  &__inner {
    padding: 0 0 0 13px;
    margin: 0;
    z-index: -1;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


    @include tablet-width {
      display: none;

      &--is-active {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 0;
      }
    }
  }

  &__top {
    position: absolute;
    font-family: $montserrat;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    padding: 0 calc(50% - 600px - 10px) 0 calc(50% - 600px);
    padding-top: 40px;
    z-index: 3;
    width: 100%;

    @media (max-width: 1279px) {
      padding-left: 40px;
      padding-right: 40px;
    }

    @include tablet-width {
      padding: 30px 16px 0 45px;
    }

    @include mobile-width {
      grid-template-columns: 26px 1fr;
      align-items: flex-start;
      padding: 15px 15px 0 15px;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: $color-default-white;
    font-weight: 400;
    column-gap: 32px;
    row-gap: 10px;

    @include tablet-width {
      flex-direction: column;
      justify-content: flex-start;
      gap: 26px;
      padding: 124px 45px 70px 45px;
      background-color: $color-default-white;
      align-items: start;
    }

    @include mobile-width {
      gap: 22px;
    }
  }

  &__logo {
    @include tablet-width {
      order: 2;
      margin-left: 242px;
    }

    @include mobile-width {
      grid-area: 1/2/1/2;
      margin: 0;
    }
  }


  &__link {
    color: $color-default-white;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;

    @include tablet-width {
      font-weight: 700;
      text-transform: uppercase;
      color: #2d383f;
    }
  }

  &__phone {
    color: $color-default-white;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    padding: 25px 10px 20px;

    @include tablet-width {
      font-size: 16px;
      line-height: 16px;
      order: 3;
      padding: 15px 10px 10px;
    }

    @include mobile-width {
      font-size: 14px;
      line-height: 14px;
      padding: 0;
      grid-area: 2 / 2 / 2 / 2;
    }

    &:hover,
    &:focus {
      outline: none;
      color: $color-resolution-blue;
    }

    &:active {
      color: $color-navy-blue;
    }

    &:disabled {
      color: rgba(255, 255, 255, 0.1);
    }
  }

  &__toggle {
    display: none;

    @include tablet-width {
      display: block;
      background-color: transparent;
      background-image: url("../../img/svg/menu.svg");
      background-repeat: no-repeat;
      background-position: top left;
      justify-content: center;
      min-width: 26px;
      min-height: 26px;
      border: 0;
      cursor: pointer;
      align-self: flex-start;
      margin-top: 10px;

      &--is-active {
        background-image: url("../../img/svg/closed.svg");
      }

      &--no-js {
        display: none;
      }
    }

    @include mobile-width {
      margin: 0;
    }
  }
}
