.main-nav {
  position: absolute;
  font-family: $montserrat;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
  padding: 40px 120px 0 120px;
  z-index: 3;
  width: 100%;

  @include tablet-width {
    padding: 30px 35px 100px 45px;
  }

  @include mobile-width {
    display: grid;
    grid-template-columns: 30px 110px;
    grid-template-rows: min-content min-content;
    padding: 15px 15px 70px 15px;
  }


  &__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: $color-default-white;
    font-weight: 400;

    @include tablet-width {
      display: none;
      padding: 0;
    }
  }

  &__logo {
    @include tablet-width {
      order: 2;
      margin-left: 119px;
    }

    @include mobile-width {
      margin: 0;
    }
  }

  &__item {
    padding: 23px 10px;
  }

  &__link {
    color: $color-default-white;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
  }

  &__phone {
    color: $color-default-white;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    padding: 25px 10px 20px;

    @include tablet-width {
      font-size: 16px;
      line-height: 16px;
      order: 3;
      padding: 15px 10px 10px;
    }

    @include mobile-width {
      font-size: 14px;
      line-height: 14px;
      padding: 14px 0;
      grid-area: 2 / 2 / 2 / 2;
    }
  }

  &__toggle {
    display: none;

    @include tablet-width {
      display: block;
      background-position: 26px 26px;
      background-color: transparent;
      background-image: url("../../img/svg/menu.svg");
      justify-content: center;
      min-width: 26px;
      min-height: 26px;
      border: 0;
      cursor: pointer;
      order: 1;
      align-self: flex-start;
      margin-top: 10px;
    }

    @include mobile-width {
      margin: 0;
    }
  }
}
