.media {
  position: absolute;
  left: auto;
  top: 38%;
  right: calc(50% - 600px);
  display: flex;
  width: 482px;
  height: 317px;

  @media (min-width: 1200px) and (max-width: 1439px) {
    right: 100px;
  }

  @include tablet-width {
    position: relative;
    width: 442px;
    height: 300px;
    right: 0;
    top: 0%;
  }

  @include mobile-width {
    display: none;
  }

  &__video {
    @include tablet-width {
      position: relative;
    }
  }

  &__video--enabled {
    display: block;
    z-index: 2;

    @include mobile-width {
      display: none;
    }
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }

  &__button {
    position: absolute;
    top: 50%;
    left: 56%;
    transform: translate(-104%, -52%);
    color: transparent;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, .2);

    @include tablet-width {
      left: 57%;
    }

    svg {
      transform: translate(0%, 2%);
      fill: transparent;
      stroke: $color-default-white;
    }

    &:hover circle,
    &:focus circle {
      stroke: $color-resolution-blue;
      fill-opacity: 0;
    }

    &:focus {
      outline: none;
    }

    &:hover path {
      stroke: $color-default-black;
      stroke-opacity: 1;
    }

    &:active {
      color: $color-resolution-blue;
    }

    &:active circle {
      fill-opacity: 1;
    }

    &:active path {
      stroke: $color-default-white;
      stroke-opacity: 0;
    }
  }


  img {
    @include tablet-width {
      max-width: fit-content;
    }
  }
}
