.societal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(45, 56, 63, 0.3);
  color: $color-elephant;
  background-color: transparent;
}
