.tours {
  &__container {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0;
    max-width: 1440px;
    margin: 0 auto;


    @include tablet-width {
      padding: 0 45px;
    }

    @include mobile-width {
      padding: 0 15px;
    }
  }

  &__slider {
    @include tablet-width {
      padding: 0 6px;
    }

    @include mobile-width {
      padding: 0;
    }
  }

  &__description {
    width: 31.7%;

    @include tablet-width {
      width: 48.6%;
    }
  }

  &__wrapper {
    position: relative;
    width: 100%;
    padding-top: 123px;
    padding-bottom: 39px;

    @include tablet-width {
      padding-top: 87px;
      padding-bottom: 37px;
    }

    @include mobile-width {
      padding-top: 66px;
      padding-bottom: 17px;
    }

    h2 {
      @include mobile-width {
        width: 70%;
      }
    }
  }

  &__slider h2 {
    @include mobile-width {
      display: grid;
      grid-template-columns: 1fr 78px;
    }
  }

  &__slider h2[data-content]::after {
    content: attr(data-content);
    font-size: 55px;
    color: rgba(45, 56, 63, 0.03);
    margin-left: -344px;

    @include tablet-width {
      font-size: 40px;
      margin-left: -246px;
    }

    @include mobile-width {
      font-size: 26px;
      margin-left: -216px;
    }
  }

  &__inner {
    margin: 0 auto;
    padding-top: 54px;
    width: 100%;

    @include tablet-width {
      padding-top: 44px;
    }

    @include mobile-width {
      padding-top: 28px;
    }
  }

  &__card-wrapper {
    width: 100%;
    position: relative;
    color: $color-default-white;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    min-height: 412px;

    @include tablet-width {}

    @include mobile-width {
      max-width: 100%;
      margin: 0 auto;
    }

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      inset: 0;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 22.3%, rgba(0, 0, 0, 0.00) 60.32%);
      z-index: -1;
    }
  }

  &__photo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    overflow: hidden;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  &__card-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 22px 20px;
    min-height: 412px;

    @include mobile-width {
      padding: 22px 10px 25px 20px;
    }

    h3 {
      margin: 0;
      padding: 24px 70px 19px 0;
      font-size: 24px;
      line-height: 28px;
      font-weight: 700;
      width: 100%;
      color: $color-default-white;

      @include tablet-width {
        padding: 25px 35px 19px 0;
      }

      @include mobile-width {
        width: 80%;
        padding: 17px 0;
        font-size: 20px;
        line-height: 24px;
      }
    }
  }

  &__top,
  &__bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__top {
    align-items: center;

    @include mobile-width {
      row-gap: 15px;
      justify-content: flex-start;
      column-gap: 24px;
    }
  }

  &__bottom {
    padding-top: 20px;
    font-size: 12px;
    font-weight: 300;

    @include tablet-width {
      align-items: flex-start;
      gap: 25px;
    }

    @include mobile-width {
      padding-top: 15px;
      gap: 15px;
    }
  }

  &__value {
    font-size: 13px;
    font-weight: 700;
    line-height: 13px;
  }

  &__pin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 108px;
    align-self: center;
    background-color: $color-navy-blue;
    padding: 7px;
    gap: 6px;

    @include tablet-width {
      width: unset;
      padding: 8px 23px 4px 15px;
    }

    @include mobile-width {
      order: 1;
    }
  }

  &__bar,
  &__feature {
    width: fit-content;
    display: flex;
  }

  &__bar {
    gap: 7px;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
  }

  &__feature {
    flex-direction: column;
    position: relative;
    gap: 0;

    &:first-child::before {
      content: "";
      position: absolute;
      top: -20px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.2);

      @include mobile-width {
        top: -16px;
      }
    }
  }

  &__card-value {
    font-size: 5px;
    font-weight: 700;

    @include mobile-width {
      font-size: 12px;
    }

    svg {
      @include mobile-width {
        width: 12.1px;
        height: 12px;
      }
    }
  }

  &__link {
    width: fit-content;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2d383f;
    display: grid;
    grid-template-columns: 1fr 12px;
    gap: 12px;
    align-self: center;
    letter-spacing: 0.64px;

    @include mobile-width {
      font-size: 14px;
      font-weight: 700;
      line-height: 14px;
      letter-spacing: 0.56px;
    }

    &:hover,
    &:focus {
      outline: none;
      color: $color-resolution-blue;
    }

    &:active {
      color: $color-navy-blue;
    }

    &:disabled {
      color: rgba(2, 102, 193, 0.1);
    }

    svg {
      margin-top: 4px;
    }
  }

  &__bg-hills {
    width: 1431px;
    height: 1424px;
    left: 58.2%;
    position: absolute;
    z-index: -3;
    top: 781px;

    @include tablet-width {
      width: 602px;
      height: 1364px;
      left: 61.72%;
      top: 962px;
    }

    @include mobile-width {
      width: 346px;
      height: 595px;
      top: 706px;
      left: auto;
      right: -175px;
    }
  }

  &__bg-clouds {
    position: absolute;
    z-index: -3;
    left: auto;
    right: 70%;
    top: 1297px;

    @include tablet-width {
      display: none;
    }
  }

  &__button {
    top: 146px;

    @include tablet-width {
      top: 104px;
    }

    @include mobile-width {
      top: 92px;
    }
  }

  &__button.swiper-button-disabled {
    cursor: default;
  }
}
