.training {
  position: relative;
  width: 100%;
  max-width: 1440px;
  padding: 0 110px;
  padding-top: 103px;
  margin: 0 auto;


  @include tablet-width {
    padding: 0 35px;
    padding-top: 67px;
  }

  @include mobile-width {
    padding: 0 5px;
    padding-top: 50px;
  }

  h2 {
    margin-left: 10px;
  }

  &__wrapper {
    padding-top: 32px;
    padding-bottom: 41px;

    @include tablet-width {
      padding-top: 20px;
      padding-bottom: 33px;
    }

    @include mobile-width {
      padding-top: 15px;
      padding-bottom: 20px;
    }
  }

  & h2[data-content]::after {
    content: attr(data-content);
    font-size: 55px;
    color: rgba(45, 56, 63, 0.03);
    margin-left: -191px;

    @include tablet-width {
      font-size: 40px;
      margin-left: -138px;
    }

    @include mobile-width {
      font-size: 26px;
      font-weight: 800;
      line-height: 26px;
      margin-left: -122px;
    }
  }

  & p {
    color: $color-elephant;
    max-width: 70%;
    padding-top: 33px;
    padding-bottom: 55px;
    margin-left: 10px;


    @include tablet-width {
      padding-top: 22px;
      max-width: 83%;
      padding-bottom: 64px;
    }

    @include mobile-width {
      max-width: 90%;
      padding-top: 16px;
      font-size: 14px;
      line-height: 20px;
      padding-bottom: 47px;
    }
  }

  & h3 {
    margin: 0;
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
    margin-left: 10px;

    @include tablet-width {
      font-size: 18px;
      padding-bottom: 0;
    }

    @include mobile-width {
      font-size: 16px;
      margin-left: 14px;
    }
  }

  &__slider {
    padding-bottom: 40px;

    h3 {
      @include mobile-width {
        margin-left: 5px;
      }
    }

    @include tablet-width {
      padding-bottom: 32px;
    }

    @include mobile-width {
      padding: 5px 5px 0;
    }
  }

  &__btn {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 4px;
    justify-content: end;

    @include mobile-width {
      padding-right: 10px;
      margin-top: -8px;
    }
  }

  &__button {
    top: 296px;

    @include tablet-width {
      top: 270px;
    }

    @include mobile-width {
      top: 272px;
    }

    &--next,
    &--prev {
      position: absolute;
      content: "";
      top: 31%;
      width: 37px;
      height: 35px;
      background-color: $color-navy-blue;
      z-index: 55;
      cursor: pointer;
      border: none;

      @media (min-width: 1200px) and (max-width: 1439px) {
        top: 23.2%;
      }

      @include tablet-width {
        top: 270px;
        right: 45.5px;
      }

      @include mobile-width {
        right: unset;
        position: unset;
        top: unset;
      }
    }

    &--next {
      right: 122px;

      @include tablet-width {
        right: 45px;
      }

      @include mobile-width {
        right: 15px;
      }
    }

    &--prev {
      right: 164px;

      @include tablet-width {
        right: 87px;
      }

      @include mobile-width {
        right: 56px;
      }
    }
  }
}
