.training {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 110px;
  padding-top: 103px;

  @include tablet-width {
    max-width: 768px;
    padding: 0 35px;
    padding-top: 67px;
  }

  @include mobile-width {
    padding: 0 5px;
    padding-top: 50px;
  }

  h2 {
    margin-left: 10px;
  }

  &__wrapper {
    padding-top: 32px;

    @include tablet-width {
      padding-top: 20px;
    }

    @include mobile-width {
      padding-top: 20px;
    }
  }

  & h2[data-content]::after {
    content: attr(data-content);
    font-size: 55px;
    color: rgba(45, 56, 63, 0.03);
    margin-left: -191px;

    @include tablet-width {
      font-size: 40px;
      margin-left: -138px;
    }

    @include mobile-width {
      font-size: 26px;
      font-weight: 800;
      line-height: 26px;
      margin-left: -122px;
    }
  }

  & p {
    color: $color-elephant;
    max-width: 70%;
    padding-top: 33px;

    margin-left: 10px;


    @include tablet-width {
      padding-top: 22px;
      max-width: 83%;
    }

    @include mobile-width {
      max-width: 90%;
      padding-top: 16px;
      font-size: 14px;
      line-height: 20px;
    }
  }

  & h3 {
    margin: 0;
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
    margin-left: 10px;

    @include tablet-width {
      font-size: 18px;
      padding-bottom: 0;
    }

    @include mobile-width {
      font-size: 16px;
      margin-left: 14px;
    }
  }

  &__slider {
    padding-top: 56px;
    padding-bottom: 40px;

    h3 {
      @include mobile-width {
        margin-left: 5px;
      }
    }

    @include tablet-width {
      padding-top: 64px;
      padding-bottom: 32px;
    }

    @include mobile-width {
      padding: 47px 5px 25px;
    }
  }


  &__button {
    top: 70px;

    @include tablet-width {
      top: 78px;
    }

    @include mobile-width {
      top: 60px;
    }

    &--next {
      right: 12px;

      @include tablet-width {
        right: 10px;
      }
    }

    &--prev {
      right: 55px;

      @include tablet-width {
        right: 50px;
      }
    }
  }
}
