.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 120px;

  @include tablet-width {
    max-width: 768px;
    padding: 0 45px;
  }

  @include mobile-width {
    padding: 0 15px;
  }
}
