.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 103px;


  @include tablet-width {
    padding: 0 45px;
  }

  @include mobile-width {
    padding: 0 15px;
  }
}
